
header {
    text-align: center;
    padding: 100px;
    background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("image/pexels-iriser-721998.jpg");
    <link rel="stylesheet" href="style.css">
}

header h1 {
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
}

header p {
    font-size: 18px;
    color: #f5f5f5;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
}
.hello {
    text-align: center;
    padding: 40px 100px;
    font-size: 18px;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 70px 20px;
    background-color: #eef3ec;
}
.card {
    background-color: white;
    width: 280px;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
    transform: translateY(-12px);
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.card h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #1b5e20;
}
.card p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}
@media (max-width: 768px) {
    .hello {
        padding: 40px 20px;
    }

    header h1 {
        font-size: 28px;
    }

    header p {
        font-size: 16px;
    }
}